<div class="secondary-navigation">
    <div class="container">
        <ul class="left">
            <li>
                            <span>
                                <i class="fa fa-phone"></i> +1 123 456 789
                            </span>
            </li>
        </ul>
        <!--end left-->
        <ul class="right">
            {% if app.user %}
                <li>
                    <a href="{{ path('admin.myads') }}">
                        <i class="fa fa-heart"></i>My Ads
                    </a>
                </li>
                <li>
                    <a href="{{ path('logout') }}">
                        <i class="fa fa-sign-out"></i>Logout
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('login') }}">
                        <i class="fa fa-sign-in"></i>Sign In
                    </a>
                </li>
                <li>
                    <a href="{{ path('register') }}">
                        <i class="fa fa-pencil-square-o"></i>Register
                    </a>
                </li>
            {% endif %}
        </ul>
        <!--end right-->
    </div>
    <!--end container-->
</div>