{% extends 'base.html.twig' %}

{% block content %}
<section class="content">
    <section class="block">
        <div class="container">
            <!--============ Section Title===================================================================-->
            <div class="section-title clearfix">
                <div class="float-left float-xs-none">
                    <label class="mr-3 align-text-bottom">Sort by: </label>
                    <select onChange="window.location.href=this.value" name="sorting" id="sorting" class="small width-200px" data-placeholder="Default Sorting" >
                        <option value="">Default Sorting</option>
                        <option value="{{ knp_pagination_sortable(property, "created", "property.created_at") }}" >New/Oldest First</option>
                        <option value="{{ knp_pagination_sortable(property, "price", "property.price") }}" >Highest/Lowest Price </option>
                    </select>
                </div>

                <div class="float-right d-xs-none thumbnail-toggle">
                    <a href="#" class="change-class active" data-change-from-class="list" data-change-to-class="grid" data-parent-class="items">
                        <i class="fa fa-th"></i>
                    </a>
                    <a href="#" class="change-class" data-change-from-class="grid" data-change-to-class="list" data-parent-class="items">
                        <i class="fa fa-th-list"></i>
                    </a>
                </div>
            </div>
            <!--============ Items ==========================================================================-->

            <div class="items grid grid-xl-4-items grid-lg-3-items grid-md-2-items">
                {% for prop in property %}
                <div class="item">
                    {% if prop.featured == 1 %}
                    <div class="ribbon-featured">Featured</div>
                    <!--end ribbon-->
                    {% endif %}
                    {% include 'pages/_vignette.html.twig' %}
                </div>
                <!--end item-->
                {% endfor %}


            </div>
            <!--============ End Items ======================================================================-->
            <div class="page-pagination">
                {{ knp_pagination_render(property) }}
            </div>

            <!--end page-pagination-->
        </div>
        <!--end container-->
    </section>
    <!--end block-->
</section>
{% endblock %}