{% extends 'base.html.twig' %}

{% block content %}
    <section class="content">
        <section class="block">
            <div class="container">
                {% include 'admin/dashboard/_form.html.twig' %}
            </div>
            <!--end container-->
        </section>
        <!--end block-->
    </section>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('assets/js/jQuery.MultiFile.min.js') }}"></script>
    <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
{% endblock %}


{% block javascripts %}

    <script>
        document.querySelectorAll('[data-delete]').forEach(a => {
            a.addEventListener('click', e => {
                e.preventDefault()
                fetch(a.getAttribute('href'), {
                    method: 'DELETE',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'Content-Type': 'application/json'
                    },
                    body : JSON.stringify({'_token': a.dataset.token})
                }).then(response => response.json())
                    .then(data => {
                        if (data.success){
                            a.parentNode.parentNode.removeChild(a.parentNode)
                        }else{
                            alert(data.error)
                        }
                    })
                    .catch(e=>alert(e))
            })
        })
    </script>

    <script>
        let latitude = {{ property.lat }};
        let longitude = {{ property.lng }};
        let markerImage = "/assets/img/map-marker.png";
        let mapTheme = "light";
        let mapElement = "map-submit";
        let markerDrag = true;
        simpleMap(latitude, longitude, markerImage, mapTheme, mapElement, markerDrag);
    </script>

{% endblock %}

